@import '../Colors.css';

:root {
    --recent-width: 450px;
    --recent-heigh: 200px;
    --recent-border: 1px solid white;
    --recent-border-radius: 8px;
    --recent-padding: 12px;
    --recent-padding-bottom: 0;
    --recent-position: relative;
    --recent-margin-bottom: 15px;
}
.dashboard-container {
    margin: 0 auto;
    color: white;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    gap: 200px;
}
.dashboard-head {
    margin: 25px auto;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.recent-create {
    margin: 0 auto 15px;
    max-width: fit-content;
    max-height: fit-content;
}
.recent-create button {
    border-radius: 8px;
    border: none;
    color: white;
    height: 30px;
    background-color: var(--theme-color);
}
.recent-create button:hover {
    background-color: var(--theme-color-hover);
}