@import '../Colors.css';

.recent-ingredients {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 12px;
    border-radius: 8px;
    position: relative;
    background-color: var(--recents-background);
    opacity: var(--recents-opacity);
}
.recent-ingredients h3 {
    margin: 0 auto 20px;
}
.recent-ings1 {
    display: grid;
    grid-template-areas: 
        'recent-rec-name1 . .'
        'recent-rec-categories1 . .'
        'recent-rec-calories1 . recent-rec-price1'
    ;
    width: var(--recent-width);
    height: var(--recent-heigh);
    border: var(--recent-border);
    border-radius: var(--recent-border-radius);
    padding: var(--recent-padding);
    padding-bottom: var(--recent-padding-bottom);
    position: var(--recent-position);
    margin-bottom: var(--recent-margin-bottom);
}
.recent-ings-name1 {
    grid-area: recent-rec-name1;
}
.recent-ings-categories1 {
    grid-area: recent-rec-categories1;
}
.recent-ings-price1{
    grid-area: recent-rec-price1;
}
.recent-ings-calories1 {
    grid-area: recent-rec-calories1;
}
.recent-ings-edit1{
    position: absolute;
    bottom: 0;
    left: 0;
    grid-area: recent-rec-edit1;
}
.recent-ings-delete1 {
    position: absolute;
    bottom: 0;
    right: 0;
    grid-area: recent-rec-delete1;
}
.recent-ings2 {
    display: grid;
    grid-template-areas: 
        'recent-rec-name2 . .'
        'recent-rec-categories2 . .'
        'recent-rec-calories2 . recent-rec-price2'
    ;
    width: var(--recent-width);
    height: var(--recent-heigh);
    border: var(--recent-border);
    border-radius: var(--recent-border-radius);
    padding: var(--recent-padding);
    padding-bottom: var(--recent-padding-bottom);
    position: var(--recent-position);
    margin-bottom: var(--recent-margin-bottom);
}
.recent-ings-name2 {
    grid-area: recent-rec-name2;
}
.recent-ings-categories2 {
    grid-area: recent-rec-categories2;
}
.recent-ings-price2{
    grid-area: recent-rec-price2;
}
.recent-ings-calories2 {
    grid-area: recent-rec-calories2;
}
.recent-ings-edit2{
    position: absolute;
    bottom: 0;
    left: 0;
    grid-area: recent-rec-edit2;
}
.recent-ings-delete2 {
    position: absolute;
    bottom: 0;
    right: 0;
    grid-area: recent-rec-delete2;
}
.recent-ings3 {
    display: grid;
    grid-template-areas: 
        'recent-rec-name3 . .'
        'recent-rec-categories3 . .'
        'recent-rec-calories3 . recent-rec-price3'
    ;
    width: var(--recent-width);
    height: var(--recent-heigh);
    border: var(--recent-border);
    border-radius: var(--recent-border-radius);
    padding: var(--recent-padding);
    padding-bottom: var(--recent-padding-bottom);
    position: var(--recent-position);
    margin-bottom: var(--recent-margin-bottom);
}
.recent-ings-name3 {
    grid-area: recent-rec-name3;
}
.recent-ings-categories3 {
    grid-area: recent-rec-categories3;
}
.recent-ings-price3{
    grid-area: recent-rec-price3;
}
.recent-ings-calories3 {
    grid-area: recent-rec-calories3;
}
.recent-ings-edit3{
    position: absolute;
    bottom: 0;
    left: 0;
    grid-area: recent-rec-edit3;
}
.recent-ings-delete3 {
    position: absolute;
    bottom: 0;
    right: 0;
    grid-area: recent-rec-delete3;
}
