@import '../_Colors.scss';

.account-main {
    display: flex;
    color: white;
    gap: 50px;
    margin: 0 auto;
    padding: 50px 350px;
}
.account-main input {
    width: 300px;
    height: 25px;
    border-radius: 4px;
    font-size: 20px;
}
.account-navbar {
    border: 1px solid white;
    padding: 12px;
    width: 200px;
    height: 600px;
}
.account-navbar button {
    width: 100%;
}
.account-content {
    border: 1px solid white;
    padding: 12px;
    width: 800px;
    position: relative;
}
.account-buttons {
    position: absolute;
    display: flex;
    gap: 10px;
    right: 10px;
    bottom: 10px;
}
.account-content-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.account-email {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media screen and (max-width: 1430px) {
    .account-main{
        padding: 50px 100px;
    }
}
@media screen and (max-width: 760px) {
    .account-main {
        padding: 25px 25px;
        gap: 25px;
    }
    .account-main input {
        width: 200px;
        font-size: 15px;
    }
}
@media screen and (max-width: 420px) {
    .account-main {
        padding: 25px 10px;
        gap: 10px;
    }
    .account-main input {
        width: 150px;
        font-size: 12px;
    }
    .account-buttons {
        gap: 5px;
    }
}