@import '../_Colors.scss';

.password-container {
    margin: 0 auto;
    text-align: center;
    max-width: fit-content;
    max-height: fit-content;
}
.password-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin: 0 auto;
    justify-content: center;
    color: white;
    padding-top: 100px;
}
.password-main input[type="text"],
.password-main input[type="password"], 
.password-main input[type="email"] {
    width: 300px;
    height: 35px;
    font-size: 20px;
    border-radius: 4px;
}