.new-ingredient {
    display: flex;
    flex-direction: column;
	margin: auto;
	text-align: center;
	max-width: fit-content;
	max-height: fit-content;
	background-color: var(--theme-color);
	border-radius: 25px;
	position: relative;
}
.new-ingredient-form {
	grid-area: new-ingredient-form;
	border-radius: 6px;
	border-color: black;
    padding: 0 100px 0 100px;
}
.new-ingredient-prev-page {
	position: absolute;
	left: 0;
	top: 50%;
	background-color: var(--theme-color);
	border: none;
	margin: 6px;
	height: 30px;
	border-radius: 6px;
}
.new-ingredient-next-page {
	position: absolute;
	right: 0;
	top: 48%;
	background-color: var(--theme-color);
	border: none;
	margin: 6px;
	height: 30px;
	border-radius: 6px;
}
.new-ingredient-prev-page:hover, 
.new-ingredient-next-page:hover {
	background-color: var(--theme-color-hover);
}
.new-ingredient-nutdata {
	grid-area: new-ingredient-nutdata;
}
.new-ingredient-h {
	grid-area: new-ingredient-h;
}
.new-ingredient-form-input {
	border-radius: 6px;
	width: 500px;
	margin: 10px;
	margin-left: 20px;
	padding-left: 10px;
	height: 30px;
	font-size: 16px;
	box-shadow: 1px 3px;
}
.new-ingredient-btn {
	border-radius: 8px;
	color: white;
	background-color: black;
	margin: 10px;
	padding: 10px;
}
.new-ingredient-btn:hover {
	background-color: rgb(41, 41, 41);
}
.new-ingredient-form-nonut {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-bottom: 12px;
}
.new-ingredient-checkbox {
	height: 20px;
	width: 20px;
	background-color: #eee;
}
.new-ingredient-form-nonut:hover input ~ .new-ingredient-checkbox{
	background-color: gray;
}
.new-ingredient-form-nonut:checked input ~ .new-ingredient-checkbox{
	background-color: blue;
}
.new-ingredient-p {
	font-size: 25px;
	color: black;
}
.new-ingredient-nutdata {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
    margin-bottom: 15px;
}
.new-ingredient-nutdata div{
	font-size: 30px;
}