@import '../_Colors.scss';

.yesorno {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    color: white;
    gap: 15px;
    background-color: var(--theme-color);
    width: 250px;
    border-radius: 10px;
}
.yesorno-buttons {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}
.yesorno-buttons #no {
    background-color: red;
}
.yesorno-buttons #no:hover {
    background-color: rgb(219, 1, 1);
}
.yesorno-buttons #yes {
    background-color: green;
}
.yesorno-buttons #yes:hover {
    background-color: rgb(0, 94, 0);
}
