@import '../_Colors.scss';

.nutrients-container {
    display: grid;
    grid-template-columns: 135px 1fr;
}
.nutrients-container p {
    margin: 0;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .nutrients-container {
        margin: 0 auto;
    }
}