@import '../_Colors.scss';


.new-recipe-container {
    margin: 0 auto;
    padding: 75px 175px;
}
.new-recipe-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.new-recipe-form {
    display: grid;
    grid-template-columns: 1200px 1fr;
    grid-template-areas: 
    'name yield'
    'ingredients nutrients'
    'instructions nutrients'
    'categories categories'
    ;
    color: white;
}
.new-recipe-submit {
    text-align: center;
}
.new-recipe-form input[type='text'],
.new-recipe-form input[type='number'] {
    border-radius: 4px;
    height: 30px;
    margin: 4px;
    font-size: large;
}
.new-recipe-yield input[type='number'],
.new-recipe-yield #number {
    width: 75px;
}
#ing-name {
    width: 700px;
}
#ing-amount,
#ing-unit {
    width: 75px;
    margin: 6px;
}
.new-recipe-name {
    grid-area: name;
    display: flex;
    flex-direction: column;
}
.new-recipe-name input {
    width: 350px;
}
.new-recipe-yield {
    grid-area: yield;
}
.new-recipe-nutrients {
    margin-top: 20px;
    grid-area: nutrients;
    max-width: fit-content;
}
.new-recipe-ingredients {
    grid-area: ingredients;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: fit-content;
}
.new-recipe-instructions {
    grid-area: instructions;
}
.new-recipe-categories {
    grid-area: categories;
}
.new-recipe-instructions {
    width: 98%;
}
.new-recipe-ingredient-item {
    display: flex;
    position: relative;
}
.new-recipe-categories-inputs {
    display: flex;
}
.new-recipe-ingredient-unit-amount {
    display: flex;
}
.new-recipe-ingredient-name-instruction {
    display: flex;
}

@media screen and (max-width: 1440px) {
    #ing-name {
        width: 300px;
    }
    .suggs {
        width: 410px;
    }
    .new-recipe-instructions {
        width: 85%;
    }
    .new-recipe-form {
        grid-template-columns: 950px 1fr;
    }
    .new-recipe-container {
        padding: 75px 50px;
    }
}
@media screen and (max-width: 1024px) {
    #ing-name {
        width: 100px;
    }
    .suggs {
        width: 210px;
    }
    .new-recipe-form {
        grid-template-columns: 750px 1fr;
    }
    .new-recipe-container {
        padding: 75px 25px;
    }
}
@media screen and (max-width: 768px) {
    .new-recipe-form {
        grid-template-areas: 
            'name'
            'yield'
            'ingredients'
            'instructions'
            'categories'
            'nutrients'
        ;
    }
    .new-recipe-container {
        padding: 75px 100px;
    }
    #ing-name,
    #ing-instructions {
        width: 95px;
    }
    .suggs {
        width: 190px;
    }
    .footer-container {
        position: sticky;
    }
}
@media screen and (max-width: 425px) {
    .new-recipe-container {
        padding: 50px 25px;
    }
    #ing-name,
    #ing-instructions {
        width: 173px;
    }
    .suggs {
        width: 365px;
    }
    .new-recipe-ingredient-item {
        flex-direction: column;
        justify-content: center;
    }
    #ing-amount,
    #ing-unit {
        width: 170px;
        margin: 6px;
    }
    .new-recipe-instructions {
        width: 355px;
    }
    .new-recipe-categories-inputs {
        flex-direction: column;
        max-width: fit-content;
        text-align: center;
    }
    .new-recipe-categories-inputs input {
        width: 355px;
    }
    .new-recipe-nutrients {
        margin-left: 110px;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 375px) {
    #ing-amount,
    #ing-unit {
        width: 140px;
        margin: 6px;
    }
    #ing-name,
    #ing-instructions {
        width: 143px;
    }
    .new-recipe-instructions {
        width: 295px;
    }
    .new-recipe-categories-inputs input {
        width: 295px;
    }
    .suggs {
        width: 305px;
    }
    #yield-string {
        width: 150px;
    }
    .new-recipe-name input {
        width: 295px;
    }
    .new-recipe-nutrients {
        margin-left: 85px;
    }
}
@media screen and (max-width: 320px) {
    #ing-amount,
    #ing-unit {
        width: 125px;
        margin: 6px;
    }
    #ing-name,
    #ing-instructions {
        width: 127px;
    }
    .new-recipe-instructions {
        width: 265px;
    }
    .new-recipe-categories-inputs input {
        width: 265px;
    }
    .suggs {
        width: 275px;
    }
    #yield-string {
        width: 125px;
    }
    .new-recipe-name input {
        width: 265px;
    }
    .new-recipe-nutrients {
        margin-left: 65px;
    }
}