@import './Colors.css';

.footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer-content {
    text-align: center;
    background-color: var(--theme-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid white;
}
.footer-btn {
    border-radius: 4px;
    border: none;
    background-color: var(--theme-color);
    color: white;
    font-size: large;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer-btn:hover {
    background-color: var(--theme-color-hover);
}
.footer-p {
    font-size: large;
    color: white;
}
.footer-p a {
    text-decoration: none;
    color: white;
}
.footer-p a:hover {
    color: rgb(226, 226, 226);
}