@import './Colors.css';

@media (max-width: 425px) {
	.navbar-container {
		flex-direction: column;
		text-align: center;
		justify-content: center;
	}
	.nav-2 {
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	background-color: var(--theme-color);
	max-height: fit-content;
	border: 1px solid white;
}
.nav-btn {
	border-radius: 4px;
	border: none;
	color: white;
	background-color: var(--theme-color);
	height: 47px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
.nav-btn:hover {
	background-color: var(--theme-color-hover);
}
.nav-2 {
	display: flex;
	justify-content: space-between;
}