@import './Colors.css';
:root {
    --search-height: 25px;
}
.search-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin: 0 auto;
}
.search-head,
.search-create {
    text-align: center;
}
.search-rest {
    display: flex;
    padding: 50px 150px;
}
.search-search {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    margin-right: 50px;
    border-radius: 8px;
    padding: 4px;
}
.search-box {
    position: relative;
}
.search-box{
    display: flex;
}
.search-box #search {
    width: 915px;
    height: var(--search-height);
    font-size: 20px;
}
.search-result {
	cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin: 0 20px auto;
    border: 1px solid white;
    gap: 20px;
}
.result {
    padding: 4px;
}
.search-result:first-child {
    margin-top: 20px;
}
.result-edit,
.result-delete {
    align-self: flex-end;
}
.result-rest {
    display: flex;
    gap: 20px;
}
.result-buttons {
    display: flex;
}
.search-pagination {
    margin: 20px 0 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}