@import '../Colors.css';

.new-recipe-container {
    margin: 0 auto;
    padding: 75px 175px;
}
.new-recipe-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.new-recipe-form {
    display: grid;
    grid-template-columns: 1200px 1fr;
    grid-template-areas: 
    'name yield'
    'ingredients nutrients'
    'instructions nutrients'
    'categories categories'
    ;
    color: white;
}
.new-recipe-submit {
    text-align: center;
}
.new-recipe-form input[type='text'],
.new-recipe-form input[type='number'] {
    border-radius: 4px;
    height: 30px;
    margin: 4px;
    font-size: large;
}
.new-recipe-yield input[type='number'],
.new-recipe-yield #number {
    width: 75px;
}
.new-recipe-ingredient-item #ing-name {
    width: 700px;
}
.new-recipe-ingredient-item #ing-amount,
.new-recipe-ingredient-item #ing-unit {
    width: 75px;
    margin: 6px;
}
.new-recipe-name {
    grid-area: name;
    display: flex;
    flex-direction: column;
}
.new-recipe-name input {
    width: 350px;
}
.new-recipe-yield {
    grid-area: yield;
}
.new-recipe-nutrients {
    margin-top: 20px;
    grid-area: nutrients;
}
.new-recipe-ingredients {
    grid-area: ingredients;
    display: flex;
    flex-direction: column;
}
.new-recipe-instructions {
    grid-area: instructions;
}
.new-recipe-categories {
    grid-area: categories;
}
.new-recipe-instructions {
    width: 98%;
}
