@import '../_Colors.scss';

@media (max-width: 425px) {
    .recent-ings {
        max-width: 250px;
    }
}

.recent-ingredients {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 12px;
    border-radius: 8px;
    position: relative;
    background-color: var(--recents-background);
    opacity: var(--recents-opacity);
    max-width: fit-content;
}
.recent-ingredients h3 {
    margin: 0 auto 20px;
}
.recent-ings {
    display: grid;
    grid-template-areas: 
        'recent-rec-name1 . .'
        'recent-rec-categories1 . .'
        'recent-rec-calories1 . recent-rec-price1'
    ;
    width: var(--recent-width);
    height: var(--recent-heigh);
    border: var(--recent-border);
    border-radius: var(--recent-border-radius);
    padding: var(--recent-padding);
    padding-bottom: var(--recent-padding-bottom);
    position: var(--recent-position);
    margin-bottom: var(--recent-margin-bottom);
}
.recent-ings-name {
    grid-area: recent-rec-name1;
}
.recent-ings-categories {
    grid-area: recent-rec-categories1;
}
.recent-ings-price{
    grid-area: recent-rec-price1;
}
.recent-ings-calories {
    grid-area: recent-rec-calories1;
}
.recent-ings-edit{
    position: absolute;
    bottom: 0;
    left: 0;
    grid-area: recent-rec-edit1;
}
.recent-ings-delete {
    position: absolute;
    bottom: 0;
    right: 0;
    grid-area: recent-rec-delete1;
}