@import '../_Colors.scss';

.recent-main {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 12px;
    border-radius: 8px;
    position: relative;
    background-color: var(--recents-background);
    opacity: var(--recents-opacity);
    max-width: fit-content;
}
.recent-container {
    text-align: center;
    border: 1px solid white;
    border-radius: 8px;
}
.recent-container h3 {
    font-size: x-large;
}
.recent-recs {
    grid-template-areas: 
    'recent-rec-name1 recent-rec-name1'
    'recent-rec-yield1 recent-rec-categories1'
    'recent-rec-calories1 recent-rec-price1'
    ;
}
.recent-ings {
    grid-template-areas: 
    'recent-rec-name1 recent-rec-name1'
    'recent-rec-categories1 recent-rec-categories1' 
    'recent-rec-calories1 recent-rec-price1'
    ;
}
.recent-item-main {
    display: grid;
    height: var(--recent-heigh);
    border: var(--recent-border);
    border-radius: var(--recent-border-radius);
    padding: var(--recent-padding);
    padding-bottom: var(--recent-padding-bottom);
    position: var(--recent-position);
    margin-bottom: var(--recent-margin-bottom);
}
.recent-item {
    padding: 20px;
    text-align: center;
    border: 1px solid var(--theme-color);
    font-size: 14px;
}
.recent-name {
    grid-area: recent-rec-name1;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    max-height: fit-content;
    background-color: var(--theme-color);
}
.recent-yield {
    grid-area: recent-rec-yield1;
}
.recent-categories {
    grid-area: recent-rec-categories1;
}
.recent-price{
    grid-area: recent-rec-price1;
}
.recent-calories {
    grid-area: recent-rec-calories1;
}
.recent-edit{
    position: absolute;
    bottom: 0;
    left: 12px;
}
.recent-delete {
    position: absolute;
    bottom: 0;
    right: 12px;
}
@media (max-width: 425px) {
    .recent-main {
        max-width: 250px;
    }
}