@import './_Colors.scss';

.login {
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    max-width: fit-content;
    max-height: fit-content;
}
.login h2 {
    margin-top: 125px;
    margin-bottom: 35px;
}
.login-email {
    float: left;
}
.login small {
    float: left;
}
.login-password {
    position: relative;
    float: left;
}
.login input[type="text"],
.login input[type="password"] {
    border-radius: 6px;
    width: 275px;
    height: 30px;
    font-size: 20px;
    border: 2px solid white;
}
.login-remeber {
    margin-bottom: 15px;
}