@import './_Colors.scss';

.register {
    margin: 125px auto;
    text-align: center;
    color: white;
    max-width: fit-content;
    max-height: fit-content;
}
.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.register-form-text {
    float: left;
    margin-bottom: 15px;
}
.register-form-pass {
    position: relative;
    float: left;
}
.register input[type="text"],
.register input[type="password"], 
.register input[type="email"] {
    border-radius: 6px;
    width: 275px;
    height: 30px;
    font-size: 20px;
    border: 2px solid white;
    margin-bottom: 6px;
}