@import './_Colors.scss';
:root {
    --search-height: 30px;
}
.search-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin: 0 auto;
}
.search-head,
.search-create {
    text-align: center;
}

.search-rest {
    display: flex;
    padding: 50px 150px;
    margin: auto;
    gap: 50px;
}
.search-search {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 8px;
    padding: 4px;
}
.search-box {
    position: relative;
}
.search-box form {
    display: flex;
    height: 100%;
    font-size: 20px;
    line-height: 20px;
}
.search-box button {
}
.search-box #search {
    width: 915px;
    height: var(--search-height);
    font-size: 1em;
    line-height: 1em;
}
.search-result {
    display: flex;
    justify-content: space-between;
    margin: 0 20px auto;
    border: 1px solid white;
    gap: 20px;
}
.result {
    cursor: pointer;
    padding: 4px;
}
.search-result:first-child {
    margin-top: 20px;
}
.result-edit,
.result-delete {
    align-self: flex-end;
}
.result-rest {
    display: flex;
    gap: 20px;
}
.result-buttons {
    display: flex;
}
.search-pagination {
    margin: 20px 0 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media screen and (max-width: 1700px) {
    .recent-search {
        width: 250px;
    }
}
@media screen and (max-width: 1500px) {
    .search-box #search {
        width: 850px;
    }
    .search-rest {
        padding: 25px 50px;
    }
}
@media screen and (max-width: 1350px) {
    .search-box #search {
        width: 700px;
    }
    .search-rest {
        gap: 25px;
    }
}
@media screen and (max-width: 1190px) {
    .search-box #search {
        width: 550px;
    }
}
@media screen and (max-width: 1020px) {
    .search-box #search {
        width: 450px;
    }
    .search-result {
        gap: 5px;
    }
    .search-rest {
        padding: 25px 50px;
    }
}
@media screen and (max-width: 920px) {
    .search-box #search {
        width: 375px;
    }
    .search-rest {
        padding: 25px 0 0 0;
    }
}
@media screen and (max-width: 800px) {
    .recent-search {
        width: 175px;
    }
}
@media screen and (max-width: 700px) {
    .search-box #search {
        width: 200px;
        font-size: 0.7em;
    }
    .search-result {
        font-size: 12px;
    }
    .result {
        padding: 8px;
    }
}
@media screen and (max-width: 535px) {
    .search-box #search {
        width: 300px;
        font-size: 0.9em;
    }
    .search-result {
        font-size: 17px;
    }
}
@media screen and (max-width: 425px) {
    .search-box #search {
        width: 225px;
        font-size: 0.7em;
    }
    .search-result {
        font-size: 15px;
    }
}
@media screen and (max-width: 320px) {
    .search-box #search {
        width: 200px;
        font-size: 0.7em;
    }
    .search-result {
        font-size: 12px;
    }
    .result {
        padding: 8px;
    }
}